<div class="row">
  <div class="col-md-6 offset-md-3 border border-primary p-3">
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      <h4>Introduzca sus datos de registro</h4>
      <label>Id Empleado</label>
      <input
        type="text"
        id="inputID"
        class="form-control"
        formControlName="id"
        autofocus
      />
      <label>Contraseña</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        formControlName="password"
      />
      <hr />
      <div class="row justify-content-center">
        <span class="bg-danger text-white text-center" [hidden]="correcto">Usuario incorrecto</span>
      </div>
      <div class="row justify-content-center mt-2">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>