<div class="p-1 border border-primary">
  <div class="d-flex justify-content-between">
    <h1>{{ emp.nomEmp }}</h1>
    <div class="my-auto d-flex justify-content-between">
      <a class="text-decoration-none" [routerLink]="['/main']">Volver</a>
      &nbsp;|&nbsp;
      <a class="text-primary" style="cursor: pointer;" [routerLink]="['/modificar']">
        Modificar
      </a>
      &nbsp;|&nbsp;
      <a class="text-primary" style="cursor: pointer;" (click)="logout()">
        Logout
      </a>
    </div>
  </div>
  <h3 class="pl-2">Datos personales</h3>
  <div class="pl-4">
    <div>Nombre: {{ emp.nomEmp }}</div>
    <div>
      Sexo:
      <img
        *ngIf="emp.sexEmp == 'V'; else fem"
        src="assets\img\masc.png"
        width="16px"
      />
      <ng-template #fem>
        <img src="assets\img\fem.png" width="16px" />
      </ng-template>
    </div>
    <div>Día de nacimiento: {{ emp.fecNac | date: "dd/MM/yy" }}</div>
    <div>Ciudad de residencia: {{ emp.ciudad }}</div>
  </div>
  <hr />
  <h3 class="pl-2">Datos profesionales</h3>
  <div class="pl-4">
    <div>Id: {{ emp.ndiemp }}</div>
    <div>
      Fecha de incorporación: {{ emp.fecIncorporacion | date: "dd/MM/yy" }}
    </div>
    <div>
      Salario:
      <span
        id="sal"
        (mouseenter)="destaparSpoiler('sal')"
        (mouseleave)="taparSpoiler('sal')"
        class="text-dark bg-dark"
        >{{ emp.salEmp | currency: "EUR":"symbol" }}</span
      >
    </div>
    <div>Cargo: {{ emp.cargoE }}</div>
    <div *ngIf="jefe.ndiemp != null">
      <h5>
        <a
          class="text-decoration-none"
          data-toggle="collapse"
          href="#collapseJefe"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
          title="Click para expandir"
        >
          Jefe
        </a>
      </h5>
      <div class="collapse" id="collapseJefe">
        <div class="card card-body">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">EmpId</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cargo</th>
                <th scope="col">Ciudad</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ jefe.ndiemp }}</td>
                <td>{{ jefe.nomEmp }}</td>
                <td>{{ jefe.cargoE }}</td>
                <td>{{ jefe.ciudad }}</td>
                <td>
                  <a [routerLink]="['/empleado', jefe.ndiemp]">Ver</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <h5>
      <a
        class="text-decoration-none"
        data-toggle="collapse"
        href="#collapseDepto"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        Departamento
      </a>
    </h5>
    <div class="collapse" id="collapseDepto">
      <div class="card card-body">
        <div>Código de departamento: {{ depto.codDepto }}</div>
        <div>Departamento: <a [routerLink]="['/departamento', depto.codDepto]">{{ depto.nombreDepto }}</a></div>
        <div>Ciudad: {{ depto.ciudad }}</div>
        <div>Id Director: {{ depto.codDirector }}</div>
      </div>
    </div>
    <div>
      Comisión:
      <span
        id="com"
        (mouseenter)="destaparSpoiler('com')"
        (mouseleave)="taparSpoiler('com')"
        class="text-dark bg-dark"
        >{{ emp.comisionE | currency: "EUR":"symbol" }}</span
      >
    </div>
  </div>
  <hr />
  <div *ngIf="subord.length > 0">
    <h3>
      <a
        class="p-2 text-decoration-none"
        data-toggle="collapse"
        href="#collapseSubord"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
        title="Click para expandir"
      >
        Subordinados
      </a>
    </h3>
    <div class="collapse" id="collapseSubord">
      <div class="card card-body">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">EmpId</th>
              <th scope="col">Nombre</th>
              <th scope="col">Cargo</th>
              <th scope="col">Ciudad</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of subord">
              <td>{{ s.ndiemp }}</td>
              <td>{{ s.nomEmp }}</td>
              <td>{{ s.cargoE }}</td>
              <td>{{ s.ciudad }}</td>
              <td><a [routerLink]="['/empleado', s.ndiemp]">Ver</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
