<div class="row">
  <div class="col-md-6 offset-md-3">
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      <h4>Introduzca sus datos de registro</h4>
      <label>Id Empleado</label>
      <input
        type="text"
        id="inputID"
        class="form-control"
        formControlName="id"
        autofocus
      />
      <label>Contraseña</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        formControlName="password"
      />
      <hr />
      <div class="bg-danger text-white my-3 mx-auto text-center w-50" *ngIf="!correcto">Usuario incorrecto</div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
